body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table,td,th, tr{
    border: solid 1px rgb(95, 120, 233);
}


.card {
    border-radius: 8px;
    margin: 14px;
    content: "\a";
    text-align: center;
    padding: 12px;
    color: white;
    width: 200px;
    height: 220px;
    max-height: max-content;
    background-color: rgb(234, 255, 44);
    border: solid, 2px rgb(145, 182, 145);
  }

  .deletebtn{
      color:red;
      background-color: rgb(126, 202, 202);
      padding: 10px 14px;
      width: 100px;
  }